  <footer >
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="row"
                        style="font-weight: bolder;font-family: 'Dancing Script', cursive;color: rgb(45, 45, 43); font-size:3rem; margin: 0;">
                        Jaipur Sweets
                    </div>
                    <div class="row" style="font-size: 2.3vh;">
                        We work from the heart, with passion to craft authentic sweets and savories with an inimitable
                        character that’s truly the taste of Royal India.
                    </div>
                </div>
                <div class="col">
                    <div class="row" style="font-size: 2.3vh;font-weight:bolder">
                        Categories
                    </div>
                    <div class="row" style="font-size: 2.3vh;">
                        <div>Sweets</div>
                        <div>Speciality</div>
                        <div>Snacks</div>
                        <div>Guilt Free</div>
                        <div>Dry Fruits</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row" style="font-size: 2.3vh;font-weight:bolder">
                        Customer Service
                    </div>
                    <div class="row" style="font-size: 2.3vh;">
                        <div>FAQ's</div>
                        <div>Terms And Condition</div>
                        <div>Shipping Policy</div>
                        <div>Return And Exchange Policy</div>
                        <div>Privacy Policy</div>
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <div class="row">
                <div class="col-4" style="font-weight: bold; font-size:large">
                    We'd Be Happy To Assist You!
                </div>
                <div class="col">
                    <div class="row" style="font-size: 2.3vh;font-weight:bolder">Follow Us</div>
                    <div class="row" style="font-size: 3vh;">
                        <span><i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook-f"></i> <i
                                class="fa-brands fa-linkedin-in"></i></span>
                    </div>
                </div>
                <div class="col">
                    <div class="row" style="font-size: 2.3vh;font-weight:bolder">Payment Partner</div>
                    <div class="row" style="font-size: 3vh;">
                        <span><i class="fa-brands fa-cc-visa"></i> <i class="fa-brands fa-cc-mastercard"></i> <i
                                class="fa-solid fa-indian-rupee-sign"></i></span>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row" style="text-align: center;">
                <div>copyright©Jaipur Sweets</div>
            </div>
        </div>
        <br><br>
    </footer>
